<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base::html(
        ~{::title},
        ~{::content},
        ~{::additionalCss},
        ~{}
    )}">

</html>
<th:block th:fragment="additionalCss">
    <link rel="stylesheet" href="style.css" />
</th:block>

<title>Heaven</title>

<th:block th:fragment="content"></th:block>
    <h1>Welcome to Heaven</h1>
    <p>Your one-stop place to live after you die</p>
    <img src="heaven.jpg" id="champion-image">
</th:block>